#Canvas1{
    display: block;
    margin:0 auto;
    border:1px solid #d3d3d3;
}

#Canvas2{
    display: block;
    margin:0 auto;
    border:1px solid #d3d3d3;
}

#operation{
    height: 200px;
    width: 100%;
    border:1px solid #d3d3d3;
    margin-bottom: 30px;
}